<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> head }}
  </head>
  <body>
    <div class="page">
      {{> header }}
      <aside class="sidebar">sidebar</aside>

      <main class="main">{{> body }}</main>
    </div>

    <!-- {{> footer }} -->

    <script src="assets/js/app.js"></script>
  </body>
</html>
